// IT IS THE ANIMATION OF THE BACKGROUND 



body {
	animation: fadeBack 40s infinite linear;
	-webkit-animation: fadeBack 40s infinite linear; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeBack
	{

	0%   {background: $peterRiver;}
	16%   {background: $emerald;}
	24%   {background: $sunFlower;}
	40%   {background: $carrot;}
	47%   {background: $pomegranate;}
	65%   {background: $alizarin;}
	78%   {background: $wisteria;}

	}

/* Standard syntax */
@keyframes fadeBack
	{

	0%   {background: $peterRiver;}
	16%   {background: $emerald;}
	24%   {background: $sunFlower;}
	40%   {background: $carrot;}
	47%   {background: $pomegranate;}
	65%   {background: $alizarin;}
	78%   {background: $wisteria;}

	}