/*__________ BASE __________*/

// COMPASS 
@import "compass/reset";
@import "compass/css3";

// CORE 
@import "var";
@import "grid";
@import "typography";
@import "responsive";

// MIXIN 
@import "backgroundFade";


/* ------------------ PADDING ARE NICE NOW ! ------------------ */ 

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------  CLEARFIX  ------------------ */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {clear: both;}

// For IE 6/7 only //
.clearfix {*zoom: 1;}

/* ------------------  HIDDERS  ------------------ */

// Hide from both screenreaders and browsers

.hidden {
    display: none;
    visibility: hidden;
}

// Hide visually and from screenreaders, but maintain layout

.invisible {
    visibility: hidden;
}