/*__________ TYPOGRAPHY __________*/

@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,100italic,400italic,500,500italic,700,700italic,900,900italic");

$font-stack: 'Roboto', Arial, sans-serif;

body {
	font: 100% $font-stack;
}

a, a:visited { 
	text-decoration: none;
}

strong { 
	@extend %bold;
	@extend %uppercase;
}

%italic {font-style: italic;}
%uppercase {text-transform: uppercase;}

%thin {font-weight: 100;}
%light {font-weight: 300;}
%regular {font-weight: 400;}
%medium {font-weight: 500;}
%bold {font-weight: 700;}
%black {font-weight: 900;}

